body {
  background-color: #e987cf;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
  text-align: center;
}

img {
  width: 400px;
  border: 3px solid #c364ee;
  border-radius: 10px;
}
